<html>
	<head>
		<title>{% block title %}Karting{% endblock %}</title>
		<link rel="stylesheet" href="/static/styles.css" />
	</head>
	<body>
		<div id="menu">
			<!--<a href="/admin/race/">Administration</a><br/>-->
			<a href="/champ/1">1st Championship Details</a><br/>
			<a href="/champ/1/total">1st Championship Totals</a><br/>
			<br/>
			<br/>
			<br/>
			<a href="/recalc">Recalculate</a><br/>
			{% block menu %}
			{% endblock %}
		</div>
		{% block content %}{% endblock %}
	</body>
</html>
