body, table
{
	font-family: Verdana, Arial;
	font-size: 10pt;
}

a
{
	color: #09F;
	font-size: 10pt;
	text-decoration: none;
}

#menu
{
	float: right;
	height: 400px;
	width: 2px;
}

.question, .answer
{
	background-color: #F8F8F8;
	height: 300px;
	margin: auto;
	width: 500px;
}

.answer
{
	background-color: #F8F8FF;
	height: 100px;
}

.definition
{
	margin: 10px;
	line-height: 14pt;
}

input
{
	margin: 4px 5px;
}

.message
{
	height: 30px;
	text-align: center;
	width: 100%;
}

.correct
{
	background-color: #E0FFE0;
}

.incorrect
{
	background-color: #FFE0E0;
}
