body, table
{
	font-family: Verdana, Arial;
	font-size: 10pt;
}

a
{
	color: #09F;
	font-size: 10pt;
	text-decoration: none;
}

#menu
{
	float: right;
	height: 400px;
	width: 200px;
}

table 
{
	border-collapse: collapse;
}

th, td
{
	padding: 2px 10px;
}
